.input-div,
.input-div * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.input {
  width: 90%;
  height: 3rem;
  border: none;
  border-radius: 0 30px 30px 0;
  font-size: 1.2rem;
  outline: none;
}

.input-div {
  position: relative;
  height: 3rem;
  box-sizing: border-box;
  padding: 0;
  margin: 5% auto;
  width: 50%;
  border-radius: 30px;
  background-color: white;
  opacity: 80%;
}

.input-div i {
  width: 10%;
  font-size: 1.5rem;
  opacity: 50%;
}

@media (max-width: 1300px) {
  .input-div {
    width: 60%;
  }
}

@media (max-width: 1100px) {
  .input-div {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .input-div {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .input-div {
    width: 90%;
  }
}
