.App {
  text-align: center;
  width: 100%;
  background-image: url("./images/background_image.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
